body{
    background-image: url("a.jpg");
}

.container{
    margin-top: 10%;
    background: rgba(255,255,255, .7);
    padding-bottom: 2%;
    border-radius: 10px 10px 10px 10px;

}

.text-center {
    padding-top: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}